<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/home}">

<head>
    <title>Cadastro de Produtos</title>
	<link rel="icon" href="/image/icone.png" />
</head>


	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
	
	<body>
	<header>
		<nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " href="#">Painel Administrativo do Ecommerce</a>
				</div>
			</div>
		</nav>
	</header>
	
	<div class="layout-main">	
	
		<aside>
			<nav class="sidebar sidebar-open">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/administrativo"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>
				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Produtos</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/produtos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
						<li class="nav-item"><a class="nav-link"href="/administrativo/produtos/listar"><i
						class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>					
						
				</ul>
			</nav>
		</aside>
			
	<section class="layout-content">
		<section class="layout-content" layout:fragment="corpo">
			<div class="page-header">
				<nav class="navbar navbar-expand-md navbar-top bg-light">
					<div class="collapse navbar-collapse" id="navbarsExampleDefault">
						<ul class="navbar-nav">
							<li class="nav-item active"><i class="oi oi-caret-right"></i>
								<span>Cadastrar Produto</span></li>
						</ul>
					</div>
					<a class="btn btn-primary btn-md"
						href="/administrativo/produtos/listar" role="button"> <span
						class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
						<span>Listar Produtos</span>
					</a>					
				</nav>
			</div>

			<div class="container" id="cadastro">
				<form action="/administrativo/produtos/salvar" th:object="${produto}" method="POST">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="nome">Nome do Produto</label> <input type="text"
								class="form-control" id="proNome" placeholder="Nome"
								autofocus="autofocus" th:field="*{proNome}" value=""/>
							<div class="invalid-feedback"></div>
						</div>
						<div class="form-group col-md-6">
							<label for="salario">Categoria</label> <input type="text"
								class="form-control" id="proCategoria" placeholder="Categoria"
								data-mask-reverse="true" th:field="*{proCategoria}" value=""/>
							<div class="invalid-feedback"></div>
						</div>
					</div>
					
					<div class="form-row">
						<!--<div class="form-group col-md-6">
							<label for="nome">Código do Produto</label> <input type="text"
								class="form-control" id="proId" placeholder="Código do Produto"
								autofocus="autofocus" th:field="*{proId}" value="" />
							<div class="invalid-feedback" > </div>
						</div>-->
						<div class="form-group col-md-6">
							<label for="salario">Valor de Venda</label> <input type="text"
								class="form-control" id="proValor" placeholder="Valor de Venda"
								data-mask-reverse="true" th:field="*{proValor}" value="" />
							<div class="invalid-feedback"></div>
						</div>
					</div>	
					<input type="hidden" id="proId" th:field="*{proId}" value="" />
					<button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
				</form>
			</div>
		</section>
		
		<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2022 DolphinDatabase.</span>
		</div>
		</footer> 

	
</body>
</html>