<!DOCTYPE HTML>
<html lang="pt" xmlns="http://www.we.org/1999/xhtml">
<head>
<title>Lista de Produtos</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/icone.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav
			class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " href="#">Painel Administrativo do Ecommerce</a>
				</div>
			</div>
		</nav>
	</header>
	<div class="layout-main" >

		<aside>
			<nav class="sidebar sidebar-open" style="height: 1300px">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>
								
				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Produtos</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/administrativo/produtos/cadastrar"> <i
							class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/administrativo/produtos/listar"> <i
							class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>					
						
					
				</ul>
			
			</nav>
		</aside>
				

	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Lista de Produtos</span></li>
				</ul>
				<a class="btn btn-primary btn-md"
					href="/administrativo/produtos/cadastrar" role="button"> <span
					class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> <span>Cadastrar
						Produto</span>
				</a>
			</div>
		</nav>

		<div class="container">

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome do Produto</th>
							<th>Categoria</th>
						    <th>Valor de Venda</th>
						    <th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${listaProdutos}">
							<td th:text="${produto.proId}"></td>
							<td th:text="${produto.proNome}"></td>
                            <td th:text="${produto.proCategoria}"></td>
							<td th:text="${produto.proValor}"></td>
							<td colspan="2"><a class="btn btn-info btn-sm" th:href="@{/adicionarCarrinho/{id}(id=${produto.proId})}"
								role="button"> <span class="oi oi-basket" title="Editar"
									aria-hidden="true"></span>

							</a> </td>					
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>


</body>
</html>
							
												