<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8" />

<head>
  <title>DescontOn</title>
  <link rel="icon" href="/image/icone.png" />
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="/css/estilo.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/geral.js"></script>
  
</head>

<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i>&nbsp;&nbsp;Página Inicial</div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
			<div> <a href="/" class="nav_logo"> <i class='bx bx-gift nav_logo-icon'></i> <span
						class="nav_logo-name">DescontOn</span> </a>
				<div class="nav_list"> <a href="/administrativo/produto" class="nav_link"> <i
							class='bx bx-plus-circle nav_icon'></i> <span class="nav_name">Cadastrar Produtos</span>
					</a>
					<a href="/administrativo/produto/listagem" class="nav_link"> <i class='bx bx-list-ul nav_icon'></i>
						<span class="nav_name">Listar Produtos</span> </a>
					<a href="/administrativo/sacola" class="nav_link"> <i class='bx bx-shopping-bag nav_icon'></i> <span
							class="nav_name">Sacola</span> </a>
					<a href="/administrativo/promocao" class="nav_link"> <i class='bx bxs-badge-dollar nav_icon'></i> <span
							class="nav_name">Cadastrar Promo.</span> </a>
					<a href="/administrativo/promocao/listagem" class="nav_link"> <i
							class='bx bx-collection nav_icon'></i> <span class="nav_name">Listar Promoções</span> </a>
				</div>
			</div> <a href="/administrativo" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
					class="nav_name">Sair</span> </a>
		</nav>
  </div>
  </div>
  <!-- end nav-bar -->
  <!-- ======= Sobre Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Bem-Vindo ao&nbsp; <span>DescontOn</span></h1>
      <h2>Ferramenta para criar promoções de E-commerce, onde as mecânicas de promoções são feitas de forma flexível e
        de rápida atualização no sistema.</h2>
      <a href="#saiba-mais" class="btn-get-started scrollto">Saiba Mais</a>
    </div>
  </section>
  <!-- End Sobre -->


  <!-- ======= Beneficios Section ======= -->
  <section id="saiba-mais" class="section">
    <div class="container">

      <br></br>
      <div class="section-title">
        <h2>Conheça os Benefícios</h2>
        <p>veja as prinicipais vantagens da ferramenta. </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-user"></i></div>
            <h4><a href="">Intuitivo</a></h4>
            <p>Design pensado para melhor experiência do usuário, facilitando suas ações, através de um layout
              organizado e com botões de interação.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-cog"></i></div>
            <h4><a href="">Autonomia</a></h4>
            <p>Mudou de ideia? edite ou remova os produtos quando quiser, aqui proporcionamos a liberdade para
              alterações a qualquer momento.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Agilidade</a></h4>
            <p>As funcionalidades da ferramenta foram desenvolvidas com prioridade na simplicidade e rapidez.</p>
          </div>
        </div>



      </div>

    </div>
  </section>
  <!-- End Beneficios -->


  <!-- ======= Funcionalidades Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Funcionalidades</h2>
        <p>Breve explicação das funções essenciais do DescontOn</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box">
            <i class="bx bx-plus-circle"></i>
            <h4><a href="/administrativo/produto">Cadastrar Produtos</a></h4>
            <p>Basta informar o Nome, Categoria e Valor do Produto que deseja cadastrar e pronto! O código do produto é
              gerado automaticamente ao finalizar o cadastro.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="bx bx-list-ul"></i>
            <h4><a href="/administrativo/produto/listagem">Listar Produtos</a></h4>
            <p>É a forma de visualizar os produtos cadastrados, assim é possível escolher um produto da lista para
              adicionar na sacola de compras ou até mesmo editar e remover produtos.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bx bx-edit"></i>
            <h4><a href="/administrativo/produto/listagem">Editar Produtos</a></h4>
            <p>Precisa fazer alguma alteração nos produtos? É simples, acesse a Lista de Produtos Cadastrados, faça as
              modificações necessárias e finalize! é simples e rápido. </p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bx bx-x-circle"></i>
            <h4><a href="/administrativo/produto/listagem">Remover Produtos</a></h4>
            <p>Acesse a Lista de Produtos Cadastrados e selecione o Produto que desejar. Não se preocupe pois a
              ferramenta irá solicitar a confirmação da escolha antes de remover o produto. </p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bx bxs-purchase-tag"></i>
            <h4><a href="/administrativo/promocao">Cadastrar Promoções</a></h4>
            <p>Basta informar o Nome, Condição, Ação e Itens Participantes que deseja inserir na promoção! Simples e intuitivo
            para que não haja erro no cadastro.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bx bx-list-ul"></i>
            <h4><a href="/administrativo/promocao/listagem">Listar Promoções</a></h4>
            <p>Aqui você consegue visualizar as promoções cadastrados, conseguindo efetuar ações como
              edição e exclusão de promoções, saber suas informações e interromper ou ativar alguma promoção.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bx bx-edit"></i>
            <h4><a href="/administrativo/promocao/listagem">Editar Promoções</a></h4>
            <p>Precisa fazer alguma alteração nas promoções? Acesse a Lista de Promoções Cadastradas, faça as
              modificações necessárias e finalize! </p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bx bx-x-circle"></i>
            <h4><a href="/administrativo/promocao/listagem">Remover Promoções</a></h4>
            <p>Deletar uma promoção, é bem simples! Para que não haja enganos, a ferramenta proporciona
            confirmações antes de realmente remover a promoção. </p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bx bx-pause-circle"></i>
            <h4><a href="/administrativo/promocao/listagem">Interromper Promoções</a></h4>
            <p>Interromper promoções foi criada para poupar o trabalho do usuário de criar várias promoções iguais!
            Quando interromper alguma promoção, seus dados serão guardados, porém não poderá ser usada em compras, pois não serão visíveis aos usuários.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bx bx-play-circle"></i>
            <h4><a href="/administrativo/promocao/listagem">Ativar Promoções</a></h4>
            <p>Interrompeu uma promoção e quer usá-la novamente? Simples! A ferramenta disponibiliza a possibilidade
            de ativá-la, assim ela se tornará visível para usuários que desejam efetuar alguma compra e que se encaixam dentro do requisito da promoção.</p>
          </div>
        </div>
      </div>
  </section>
  <!-- End Services Section -->

  <!-- Footer -->
  <footer class="layout-footer">
    <div class="footer-repo">
      <a title="website repository" href="https://github.com/DolphinDatabase/DescontOn">Made with ❤ by
        DolphinDatabase</a>
    </div>
  </footer>

</body>

</html>